<nav class="navbar navbar-expand-lg border-top border-bottom mb-5 px-5 toolbar">
    <div class="collapse navbar-collapse d-flex justify-content-between">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <nav class="login-area">
                    <a class="nav-link" href="/">Home</a>
                </nav>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            {{#if authenticated}}
            <li class="nav-item">
                <a href="/logout">
                    <button type="button" class="btn btn-secondary add-btn">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </button>
                </a>
            </li>
            {{else}}
            <li class="nav-item">
                <a href="/login">
                    <button type="button" class="btn btn-secondary add-btn">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </button>
                </a>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>